@import 'setup';
@import 'utilities';


html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Lexend Mega', sans-serif;
}
body{
    // background: peachpuff;
    font-size: 2rem;
    font-family: 'Lexend Mega', sans-serif;
    line-height: 50px;
    letter-spacing: 5px;
    // overflow: hidden;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.3;
    }

// Header Styles

header {
    background: peachpuff;
    position: relative;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

        
}
h1{
    padding: 80px 0 30px 250px;
    font-size: 10rem;
    margin: 0;
    font-weight: 400;
}

h2{
    padding: 30px 0 30px 50px;
    font-size: 3rem;
    margin: 0;
    // border: 2px solid tomato;
    color: black;
    text-align: center;
    padding-top: 25px;
    // background-image: linear-gradient(transparent 85%, blue 85%);
    display: inline-block;
}


h3{
    padding: 10px;
    font-size: 2rem;
    margin: 0; 
    border: 2px solid tomato;

}

#name {
    border: none;
    background: transparent;
    border-bottom: 2px solid #333333;
    color: #333333;
    text-align: center;
    margin: 0;
    font-size: 3rem;
}

.buttonContainer {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    margin-top: 10px;

}

.userName{
    display: block;
}

.userInfo{
    padding: 30px 0 30px 0px;
    font-size: 2rem;
    margin: 0;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.fa-arrow-down{
    text-shadow: 10px 10px 10px 10px tomato;
    font-size: 3rem;
}

// Arrow button style
.userNameSubmit{
    background-color: transparent;
    z-index: 10;
    border: none;
    font-size: 3.5rem;
    width: 100%;
    color: blue;
}

.userNameSubmit:hover .fa-arrow-down {
    color: yellow;
    transition: color 2s ease-out, 2s ease-out;
}

.hide {
    display: none;
}

.show {
    display: block;
}